.container {max-width: 1400px;
width: 100%;
margin: 0 auto;}

#headline {font-size: 2.5em;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-align: center;
  font-weight: 700;}

#byline {font-size: 1em;
font-family: 'Montserrat', arial, sans-serif;
font-weight: 500;
margin-bottom: 15px;
max-width: 900px;
width: 13%;
border: 2px solid #cdcdcd;}
#b-text {padding-left: 5px;}

@media only screen and (max-width: 600px) {
    #headline, #container {font-size: 20px; margin: 0 auto; width: 100%;}
    .graphic-container, iframe {margin: 0 auto; width: 100%;}
    .navbar-brand {max-width: 100%; font-size: 20px;}}

@media only screen and (max-width: 600px) {#photo1 {margin: 0 auto; width: 100%; height: 150;} .photos {width: 100%; height: 150;}}

@media only screen and (max-width: 600px) {
  #chaptertitle, .subheading {font-size: 16px;}
  .introtext, .chaptertext, .navbar, .caption, #subheading, .navbar navbar-expand-lg navbar-dark bg-dark, .row, #byline, nav {font-size: 12px; margin: 0 auto; width: 100%;}}

@media only screen and (max-width: 600px) {
  #hero, .hero-image, .photos, #photo1, #photo2, #photo3 {margin: 0 auto; width: 100%; height: auto;}}

@media only screen and (max-width: 600px) {.nav-item, .nav-item-active, .nav-link, .navbar, ul.navbar-nav, .navbar-toggler, .navbar-toggler-icon {margin: 0 auto; width: 100%;}}

a:link {color: #e0162b;}
a:hover {color: #0052a5;}
a:visited {#999;}

p {text-align:left;
 line-height:180%;}
.red {color: #e0162b;}
.blue {color: #0052a5;}
.bg-dark {background:#000 !important;}

ul.navbar-nav {margin-left: 20%; display: inline;}
.nav-item, .nav-item-active, .nav-link {display: inline; font-size: 1em;}
.navbar {font-family: 'Montserrat', sans-serif;}

.icon {width: 40px; display: inline;}
#banner-icon {margin-right: 5px;}

.hero-image {width: 100%;
max-width: 900px;
margin: 0 auto;}
#hero {text-align: center;
margin: 0 auto;
padding-top: 5px; padding-left: 5px; padding-right: 5px;
max-width: 900px;
margin-top: 50px;}

.introtext {width: 100%;
margin-top: 10px; margin-bottom: 25px; margin: 0 auto;
padding-bottom: 25px;
font-family: "Montserrat", sans-serif, arial;
font-weight: 500;
font-size: 1.25em;}

.chap-icon {width: 100px; display: inline;}
#chapter-icon {margin-right: 5px; display: inline;}
#subheading {display: inline;
padding-top: 20px; width: 100%; text-align: left;}
#chaptertitle {font-family: "Montserrat", sans-serif;
font-size: 2em;
font-weight: 700;
display: inline;
color: black;}

.intro {max-width: 1200px; margin: 0 auto;}
.content {max-width: 1200px; margin: 0 auto;}

.chaptertext {font-family: 'PT Serif', serif, 'Times New Roman';
font-size: 1em;}

.caption {
 margin:0 auto;
 padding-bottom:30px;
 font-family: 'Montserrat', sans-serif;
 color:#3d3d29;}

.graphic-container {
 padding-top:30px;
 padding-bottom:30px;
 border-top:1px solid #cdcdcd;
 border-bottom:1px solid #cdcdcd;
 font-family: 'Montserrat', sans-serif;
 margin:0 auto;
 margin-bottom: 20px;
 max-width: 1000px;
 width: 100%}

.graphic-caption {width: 100%;
  max-width: 900px;
  margin: 0 auto;
font-family: 'Montserrat', sans-serif;
color: #e0162b;
text-align: center;
font-weight: 700;}

.graphic-headline {font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 700;}

.graphic-text1 {font-family: 'Montserrat', sans-serif;
font-weight: 400; text-align: center;}
.graphic-text {font-family: 'Montserrat', sans-serif;
font-weight: 400;}

#photo1, #photo2, #photo3 {width: 100%;
max-width: 900px;
margin: 0 auto;}
.photos {text-align: center;
margin: 0 auto;
margin-top: 30px;
max-width: 800;
width: 100%;}

#footer {width: 100%;
margin: 0 auto;
background-color: black;
height: 75px;
font-size: 12px;
color: white;
font-family: 'Montserrat', arial, sans-serif;
display: block;
margin-top: 30px;
margin-bottom: 5px;
text-align: center;}

#ftext {padding-bottom: 10px;}
